.App {
  text-align: center;
}

body {
  background-color: green;
}

.list {
  font-family: "Courier New", Courier, monospace;
}

.form {
  margin-top: 3%;
}

/* .line {
  text-decoration: line-through;
} */
